[submodule "Zig/lib/progress-zig"]
	path = Zig/lib/progress-zig
	url = https://github.com/Terence-23/progress-zig.git
[submodule "Zig/lib/zigimg"]
	path = Zig/lib/zigimg
	url = https://github.com/Terence-23/zigimg.git
[submodule "C++/lib/indicators"]
	path = C++/lib/indicators
	url = https://github.com/Terence-23/indicators.git
