[submodule "C++/tqdm.cpp"]
	path = C++/lib/tqdm.cpp
	url = https://github.com/Terence-23/tqdm.cpp.git
[submodule "Zig/lib/progress-zig"]
	path = Zig/lib/progress-zig
	url = https://github.com/Terence-23/progress-zig.git
[submodule "Zig/lib/zigimg"]
	path = Zig/lib/zigimg
	url = https://github.com/Terence-23/zigimg.git
